* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

.container {
  margin-top: 10px;
  text-align: center;
}

.useState_btn1,
.useState_btn2 {
  margin: 2px;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.3s ease; /* Adding transition for smooth effect */
}

.useState_btn1 {
  background-color: lightgreen;
}

.useState_btn2 {
  background-color: lightblue;
}

/* Hover effect */
.useState_btn1:hover,
.useState_btn2:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Change the background color on hover */
}
